# Earthquake Visualization Project

In [13]:
from google.colab import files
import numpy as np
import io 
import pandas as pd

In [14]:
uploaded = files.upload()

Saving earthquakes.csv to earthquakes (1).csv

In [15]:
df = pd.read_csv(io.BytesIO(uploaded['earthquakes.csv']))

In [16]:
df

                          time  latitude  ...  locationSource  magSource
0     2021-05-21T18:04:13.537Z   34.6125  ...              us         us
1     2021-03-20T09:09:43.966Z   38.4515  ...              us         us
2     2021-03-04T19:28:33.178Z  -29.7228  ...              us         us
3     2021-03-04T17:41:23.370Z  -29.6768  ...              us         us
4     2021-03-04T13:27:34.647Z  -37.4787  ...              us         us
...                        ...       ...  ...             ...        ...
1418  1901-08-09T18:33:00.000Z   40.0000  ...          iscgem     iscgem
1419  1901-08-09T13:01:00.000Z  -22.0000  ...          iscgem     iscgem
1420  1900-10-29T09:11:00.000Z   11.0000  ...          iscgem     iscgem
1421  1900-10-09T12:25:00.000Z   57.0900  ...           ushis         pt
1422  1900-07-29T06:59:00.000Z  -10.0000  ...          iscgem     iscgem

[1423 rows x 22 columns]

In [17]:
df.columns.values.tolist()

['time',
 'latitude',
 'longitude',
 'depth',
 'mag',
 'magType',
 'nst',
 'gap',
 'dmin',
 'rms',
 'net',
 'id',
 'updated',
 'place',
 'type',
 'horizontalError',
 'depthError',
 'magError',
 'magNst',
 'status',
 'locationSource',
 'magSource']

In [18]:
df = df.drop(columns=[ 'type',
 'horizontalError',
 'depthError',
 'magError',
 'magNst',
 'status',
 'locationSource',
 'magSource'])

In [19]:
df

                          time  ...                                place
0     2021-05-21T18:04:13.537Z  ...              Southern Qinghai, China
1     2021-03-20T09:09:43.966Z  ...         30 km E of Ishinomaki, Japan
2     2021-03-04T19:28:33.178Z  ...        Kermadec Islands, New Zealand
3     2021-03-04T17:41:23.370Z  ...        Kermadec Islands, New Zealand
4     2021-03-04T13:27:34.647Z  ...   182 km NE of Gisborne, New Zealand
...                        ...  ...                                  ...
1418  1901-08-09T18:33:00.000Z  ...  off the east coast of Honshu, Japan
1419  1901-08-09T13:01:00.000Z  ...     southeast of the Loyalty Islands
1420  1900-10-29T09:11:00.000Z  ...          offshore Miranda, Venezuela
1421  1900-10-09T12:25:00.000Z  ...         Kodiak Island region, Alaska
1422  1900-07-29T06:59:00.000Z  ...                   Santa Cruz Islands

[1423 rows x 14 columns]

In [20]:
depth = df['depth'].tolist()

In [21]:
df['depth'].mean()

74.05920839260313

In [55]:
places = df['place'].tolist()
d = {}
k = []
for i in places:
  if type(i) == str:
    n = i.split(",")
  for x in d.keys():
    if n[-1] in x:
      d[n[-1]] = d[x] + 1
      d.pop(x)
      n = None
      break
    elif x in n[-1]:
      d[x] += 1
      n = None
      break
  if n != None:
    d[n[-1]] = 1

s = 1
max_key = max(d, key=d.get)
print("Number " + str(s), max_key, d[max_key])
d.pop(max_key)
s += 1
max_key = max(d, key=d.get)
print("Number " + str(s), max_key, d[max_key])
d.pop(max_key)
s += 1
max_key = max(d, key=d.get)
print("Number " + str(s), max_key, d[max_key])
d.pop(max_key)
s += 1

Number 1 Fiji 33
Number 2  Iran 9
Number 3 Greece 7